<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Worlds</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

<h2>{{ universe.name }}</h2>

{% with world_count=universe.world_set.count %}
    {% if world_count == 1 %}
    <h4>1 World</h4>
    {% else %}
    <h4>{{ world_count }} Worlds</h4>
    {% endif %}
{% endwith %}

<div class="list_area">

<table>
  <thead style="font-weight:bold">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Description</td>
      <td>Thumbnail</td>
      <td># Places</td>
      <td># Posts</td>
    </tr>
  </thead>
  <tbody>
  {% for world in worlds %}
    <tr>
      <td>{{ world.id }}</td>
      <td>{{ world.name }}</td>
      <td>{{ world.description|truncatewords:40 }}</td>
      <td><img src="{{ world.thumbnail.url }}" style="width:50px"></td>
      <td>{{ world.place_set.count }}</td>
      <td>{{ world.num_posts }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>

</body>
</html>